{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "globals": {
        "google": true,
        "sod_globals": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            {"SwitchCase": 1}
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": "error",
        "comma-dangle": "error",
        "no-cond-assign": "error",
        "no-console": "off",
        "no-trailing-spaces": "error",
        "no-floating-decimal": "error",
        "space-before-blocks": "error",
        "keyword-spacing": "error",
        "key-spacing": "error",
        "one-var": [
            "error",
            "never"
        ]
    }
}
