{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-no-unknown": null,
        "indentation": 4,
        "no-descending-specificity": null,
        "selector-pseudo-element-colon-notation": "single"
    }
}
